/*DESKTOP*/

/*Nav Bar Begin*/
#ulone {
  list-style-type: none;
  margin: 0;
  padding: 0px 26%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-size: 18pt;
}

#lione {
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#lione a {
  display: block;
  color: rgb(94, 94, 94);
  text-align: center;
  padding: 25px 18px;
  text-decoration: none;
}

#lione a:hover:not(.active) {
  color: rgb(0, 0, 0);
}

#lione .active {
  color: rgb(0, 0, 0);
}
/*Nav Bar End*/

/*Header IMG Begin*/
header {
  overflow: hidden;
}

header img {
  margin-left: 50%;
  transform: translateX(-50%);
}
/*Header IMG End*/

/*General Formatting Begin*/
p {
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
  font-weight: 300;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26pt;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20pt;
}

a {
  text-decoration: none !important;
  color: inherit;
}

/*General Formatting End*/

/*About Us section Begin*/

#aboutUsP {
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
  font-weight: 300;
  margin-left: 10px;
  padding-right: 950px;
}

div {
  margin-right: 13%;
}

/*About Us section End*/

/*2nd Nav Begin*/
#ultwo {
  list-style-type: none;
  margin: 0;
  padding: 0px 0%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-size: 18pt;
}

#litwo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

#litwo a {
  display: block;
  color: rgb(94, 94, 94);
  text-align: left;
  padding: 5px 10px;
  text-decoration: none;
}

#litwo a:hover:not(.active) {
  color: rgb(0, 0, 0);
}

/*2nd Nav End*/

/*Footer Begin*/
footer {
  text-align: left;
  padding: 3px;
  background-color: rgb(94, 94, 94);
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none !important;
}

/*Footer End*/
